/* ================================================================ */
/*                           GENERAL RULES                          */
/* ================================================================ */

* {font-family: Segoe UI, sans-serif; }
*:focus { outline: none; }

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

body {
  align-content: space-evenly;
  background-color: rgb(29,29,29);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  margin: 0;
}

/* map cursors */
svg#map-svg path:not(.greyed-out) { cursor: pointer; }
svg#map-svg path.greyed-out { cursor: not-allowed; }


h1.idiom-title {
  color: white;
  font-size: 2.04vh;
  line-height: 2.04vh;
  margin: .75vh 0 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* ================================================================ */
/*                      MAIN CONTENT CONTAINERS                     */
/* ================================================================ */
/* major 3 tall containers */
.primary-container {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 1.85vh);
  max-width: calc(50% - 1.85vh);
  overflow: hidden;
}

.primary-container#middle {
  width: calc(50% - 20% - 1.85vh);
}

.primary-container#right {
  width: 20%;
}

/* secondary containers */
#pc-left-top,
#country-title-bar,
#pc-right-top,
#pc-right-bottom,
#gpm-bar-container,
#underscore-container,
.terciary-container {
  background-color: rgb(51,51,51);
  border-radius: .37vh;
  border: 1px solid black;
  box-sizing: border-box;
}

#gauge-legend text {
  alignment-baseline: middle;
  text-anchor: middle;
  fill: white;
}

.secondary-container.top,
.secondary-container.bottom {
  display: flex;
  height: calc(50% - .46vh);
  min-width: 100%;
  overflow: hidden;
}

#pc-left-top {
  height: calc(50% - 6.02vh);
}

#pc-left-bottom {
  align-content: space-between;
  flex-wrap: wrap;
  height: calc(50% - .46vh);
  justify-content: space-between;
}

#pc-left-bottom,
#pc-left-bottom > *,
#pc-right-top,
#pc-right-bottom,
#stadium-container,
#gpm-bar-container,
#underscore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* terciary containers */
#spider-chart-container {
  height: calc(50% - .46vh);
  width: calc(50% - .46vh);
}

#line-chart-container {
  height: calc(50% - .46vh);
  width: calc(50% - .46vh);
}

#stadium-container {
  height: 100%;
  width: calc(50% - .46vh);
}

div.before-svg {
  height: calc(100% - 2.79vh);
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ================================================================ */
/*           TOP-LEFT BIG CONTAINER (MAP AND COUNTRY LIST)          */
/* ================================================================ */
/* country list */
ul#country-pick {
  border-left: 1px solid rgb(50,50,50);
  box-sizing: border-box;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  width: 30.5%;
}

ul#country-pick li {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.58vh;
  font-weight: 500;
  list-style: none;
  padding: .19vh .93vh .19vh 0;
}

ul#country-pick li[data-active="0"], ul#country-pick li[data-active="1"] {
  cursor: default;
  transition: background-color .5s, color .5s;
}

ul#country-pick li:nth-child(even) { background-color: rgb(255,255,255,.1); }
ul#country-pick li:nth-child(odd) { background-color: rgb(255,255,255,.15); }

ul#country-pick li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* flag icons */
ul#country-pick li i.flag-icon {
  background-position-x: center;
  background-size: auto 1.11vh;
  border-radius: 50%;
  border: .19vh solid rgb(128,128,128);
  box-sizing: content-box;
  height: 1.11vh;
  margin: 0 .37vh;
  min-width: 1.11vh;
}

svg#map-svg path:not(.greyed-out)[data-active="0"], svg#map-svg path:not(.greyed-out)[data-active="1"] {
  transition: fill .5s;
}

/* ================================================================ */
/*       MIDDLE-LEFT BIG CONTAINER (COUNTRY NAME AND FLAG BAR)      */
/* ================================================================ */

#country-title-bar {
  display: inherit;
  height: 4.63vh;
  width: 100%;
}

#country-title-bar > div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 50%;
}

#country-title-1 { border-right: 1px solid black; }

#country-title-bar > div img {
  border: 1px solid black;
  height: 3.33vh;
  margin: 0 .93vh;
}

#country-title-bar > div span.country-name,
#country-title-bar span.add-country,
#country-title-bar span.suggestion {
  color: white;
  font-size: 2.22vh;
  font-weight: 700;
}

#country-title-bar span.suggestion.inactive {
  color: rgb(107,107,107);
  cursor: not-allowed;
}

#country-title-bar > div span.close-country {
  cursor: pointer;
  font-size: 1.11vh;
  margin: 0 .93vh;
}

#country-title-bar span.add-country {
  color: rgb(65, 194, 255);
  cursor: pointer;
}

/* ================================================================ */
/*                       STADIUM VISUALIZATION                      */
/* ================================================================ */

svg#stadium text {
  fill: white;
  font-size: 200%;
  font-weight: 600;
}

text.cnt-label {
  paint-order: stroke;
  stroke: rgb(30,30,30);
  stroke-width: .74vh;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

/* legend */
svg#stadium g#legend text {
  alignment-baseline: middle;
  color: purple;
}

/* ================================================================ */
/*                           INFO BUTTONS                           */
/* ================================================================ */

i.info-button {
  align-self: flex-start;
  background-color: #1b1bdc;
  border-radius: 50%;
  border: .19vh solid white;
  color: white;
  cursor: help;
  font-family: monospace;
  font-size: 1.58vh;
  font-weight: bold;
  height: 1.9vh;
  line-height: 2vh;
  margin: .56vh;
  position: absolute;
  text-align: center;
  width: 1.9vh;
  z-index: 10;
}

#pc-left-top i.info-button {
  align-self: flex-start;
}

.help-box {
  background-color: rgb(74 74 74);
  border: 2px solid rgb(27 27 27);
  color: white;
  width: 350px;
  position: absolute;
  z-index: 20;
}

.help-box p {
  margin: 4px;
  font-size: 16px;
  text-align: center;
}

/* ================================================================ */
/*                         PLAYER BAR CHART                         */
/* ================================================================ */
/* submission form */
form#player-barchart-form {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.85vh;
  max-width: 100%;
  padding: 1.3vh;
}

form#player-barchart-form > *:not(.ascdesc) {
  align-items: center;
  display: flex;
  height: 2.5vh;
  width: 46%;
}

form#player-barchart-form > *:not(.ascdesc) svg {
  margin: .37vh .19vh 0 .19vh;
}

form#player-barchart-form > p {
  font-weight: 500;
  margin: 0;
}

form#player-barchart-form > *:not(.ascdesc):nth-of-type(2),
form#player-barchart-form > p {
  width: 54% !important;
}

/* designing the radio buttons */
form#player-barchart-form > *:not(.ascdesc) input[type=radio] {
  align-items: center;
  appearance: none;
  background-color: white;
  border-radius: 10vh;
  border: .19vh solid grey;
  display: flex;
  height: 1.48vh;
  justify-content: center;
  margin: .28vh .56vh 0 0;
  min-width: 1.48vh;
  position: relative;
}

form#player-barchart-form > *:not(.ascdesc) input[type=radio]:before {
  background-color: black;
  border-radius: 10vh;
  content: "";
  height: 0;
  margin: .19vh;
  position: absolute;
  transition: height .2s, width .2s;
  width: 0;
}

form#player-barchart-form > *:not(.ascdesc) input[type=radio]:checked:before {
  height: .74vh;
  width: .74vh;
}

/* designing the checkbox */
form#player-barchart-form > div.ascdesc {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

form#player-barchart-form > div.ascdesc input[type=checkbox] {
  appearance: none;
  background-color: white;
  border-radius: 10vh;
  border: .19vh solid grey;
  height: 1.67vh;
  margin: .28vh .74vh 0 .74vh;
  position: relative;
  width: 2.78vh;
}

form#player-barchart-form > div.ascdesc input[type=checkbox]:before {
  background-color: black;
  border-radius: 10vh;
  content: "";
  height: .93vh;
  left: 0;
  margin: .19vh;
  position: absolute;
  transition: left .2s;
  width: .93vh;
}

form#player-barchart-form > div.ascdesc input[type=checkbox]:checked:before { left: 1.11vh; }

/* div cointining the actual SVG chart */
#bar-chart-div {
  align-self: flex-end;
  height: calc(100% - 14.44vh);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#scatterplot-legend text {
  text-anchor: middle;
}

/* ================================================================ */
/*                         PLAYER BAR CHART                         */
/* ================================================================ */
.player-bar-rect-nt,
.player-bar-rect-club,
.player-bar-rect-avg,
.player-bar-text,
.player-circle,
.gauge-circle {
  cursor: pointer;
}

.player-bar-rect-nt[data-playeractive=true],
.player-bar-rect-club[data-playeractive=true],
.player-bar-rect-avg[data-playeractive=true],
.player-bar-text[data-playeractive=true],
.player-circle[data-playeractive=true],
.gauge-circle[data-playeractive=true] {
  cursor: default;
}

/* ================================================================ */
/*                             PLAYER ID                            */
/* ================================================================ */
#pc-right-top {
  flex-direction: column;
  justify-content: space-between;
  padding: .55vh;
}

.image {
  width: 11.11vh;
  height: 11.11vh;
  border-radius: 50%;
  border: .46vh solid #555;
}

#nat {
  color: white;
  text-align: center;
  font-size: 1.30vh;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
}

#image-nat {
  max-width: 12.04vh;
}

#image-nat > div {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 3.52vh;
}

#player-gpm {
  width: 100%;
  height: fit-content;
  flex-grow: 1;
}

#player-id {
  display: flex;
  height: fit-content;
  width: 100%;  
  justify-content: space-between;
}

#player-info {
  margin-left: .55vh;
  display: flex;
  flex-direction: column;
  color: white;
  overflow:hidden;
  word-wrap: break-word;
  justify-content: space-around;
  height: 100%;
  font-size: 1.48vh;
}

#player-bars {
  justify-content: space-between;
  display: flex;
  height: fit-content;
}

.player-bar-title {
  text-align: center;
  -webkit-text-stroke: .1px black;
  color: white;
  margin-left: .55vh;
  width: 4.63vh;  
  font-size: .93vh;
}

.player-bar {
  height: 14.08vh;
  width: 2.78vh;
  margin-top: .55vh;
}

.player-bar text {
  fill: white;
  font-size: 14px;
  text-anchor: middle;
  alignment-baseline: hanging;
}

#player-flag {
  border: 1px solid black;
  height: 1.7vh;
  margin-right: .46vh;
}

#pc-right-top > .idiom-title, #pc-right-top > .info-button {
  margin: 0;
  margin-bottom: 1.3vh;
}

/* ================================================================ */
/*             HAPPINESS VS NT PERFORMANCE VISUALIZATION            */
/* ================================================================ */

#country-line-chart, #country-line-chart > #country-line-chart-svg{
  flex-grow: 1;
  height: 185.48px;
  width: calc(100% - 16px);
  display: flex;
  justify-content: center;
}

#country-line-chart{
  padding: 8px;
}

/* ================================================================ */
/*                      SCORABILITY VISUALIZATION                   */
/* ================================================================ */

#power-gauge g.arc {
  fill: steelblue;
}

#power-gauge g.pointer {
  fill: #e85116;
  stroke: #b64011;
}

#power-gauge g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  z-index: 5;
  alignment-baseline: middle;
}

#power-gauge{
  margin-top: 8px;
  padding: 8px;
}

#avg-underscore text {
  alignment-baseline: middle;
  font-size: 20px;
  font-weight: bold;
  text-anchor: middle;
}