/* ================================================================ */
/*                           GENERAL RULES                          */
/* ================================================================ */

* {font-family: Segoe UI, sans-serif; }
*:focus { outline: none; }

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

body {
  align-content: space-evenly;
  background-color: rgb(29,29,29);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  margin: 0;
}

/* map cursors */
svg#map-svg path:not(.greyed-out) { cursor: pointer; }
svg#map-svg path.greyed-out { cursor: not-allowed; }


h1.idiom-title {
  color: white;
  font-size: 2.04vh;
  line-height: 2.04vh;
  margin: 0.75vh 0 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* ================================================================ */
/*                      MAIN CONTENT CONTAINERS                     */
/* ================================================================ */
/* major 3 tall containers */
.primary-container {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 20px);
  max-width: calc(50% - 20px);
  overflow: hidden;
}

.primary-container#middle {
  width: calc(50% - 20% - 20px);
}

.primary-container#right {
  width: 20%;
}

/* secondary containers */
#pc-left-top,
#country-title-bar,
#pc-right-top,
#pc-right-bottom,
#gpm-bar-container,
#underscore-container,
.terciary-container {
  background-color: rgb(51,51,51);
  border-radius: 4px;
  border: 1px solid black;
  box-sizing: border-box;
}

.secondary-container.top,
.secondary-container.bottom {
  display: flex;
  height: calc(50% - 5px);
  min-width: 100%;
  overflow: hidden;
}

#pc-left-top {
  height: calc(50% - 65px);
}

#pc-left-bottom {
  align-content: space-between;
  flex-wrap: wrap;
  height: calc(50% - 5px);
  justify-content: space-between;
}

#pc-left-bottom,
#pc-left-bottom > *,
#pc-right-top,
#pc-right-bottom,
#stadium-container,
#gpm-bar-container,
#underscore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* terciary containers */
#spider-chart-container {
  height: calc(50% - 5px);
  width: calc(50% - 5px);
}

#line-chart-container {
  height: calc(50% - 5px);
  width: calc(50% - 5px);
}

#stadium-container {
  height: 100%;
  width: calc(50% - 5px);
}

div.before-svg {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ================================================================ */
/*           TOP-LEFT BIG CONTAINER (MAP AND COUNTRY LIST)          */
/* ================================================================ */
/* country list */
ul#country-pick {
  border-left: 1px solid rgb(50,50,50);
  box-sizing: border-box;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  width: 30.5%;
}

ul#country-pick li {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.58vh;
  font-weight: 500;
  list-style: none;
  padding: 2px 10px 2px 0;
}

ul#country-pick li[data-active="0"], ul#country-pick li[data-active="1"] {
  cursor: default;
  transition: background-color .5s, color .5s;
}

ul#country-pick li:nth-child(even) { background-color: rgb(255,255,255,.1); }
ul#country-pick li:nth-child(odd) { background-color: rgb(255,255,255,.15); }

ul#country-pick li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* flag icons */
ul#country-pick li i.flag-icon {
  background-position-x: center;
  background-size: auto 1.11vh;
  border-radius: 50%;
  border: .19vh solid rgb(128,128,128);
  box-sizing: content-box;
  height: 1.11vh;
  margin: 0 4px;
  min-width: 1.11vh;
}

svg#map-svg path:not(.greyed-out)[data-active="0"], svg#map-svg path:not(.greyed-out)[data-active="1"] {
  transition: fill .5s;
}

/* ================================================================ */
/*       MIDDLE-LEFT BIG CONTAINER (COUNTRY NAME AND FLAG BAR)      */
/* ================================================================ */

#country-title-bar {
  display: inherit;
  height: 50px;
  width: 100%;
}

#country-title-bar > div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 50%;
}

#country-title-1 { border-right: 1px solid black; }

#country-title-bar > div img {
  border: 1px solid black;
  height: 3.33vh;
  margin: 0 10px;
}

#country-title-bar > div span.country-name,
#country-title-bar span.add-country,
#country-title-bar span.suggestion {
  color: white;
  font-size: 2.22vh;
  font-weight: 700;
}

#country-title-bar span.suggestion.inactive {
  color: rgb(107,107,107);
  cursor: not-allowed;
}

#country-title-bar > div span.close-country {
  cursor: pointer;
  font-size: 12px;
  margin: 0 10px;
}

#country-title-bar span.add-country {
  color: rgb(65, 194, 255);
  cursor: pointer;
}

/* ================================================================ */
/*                       STADIUM VISUALIZATION                      */
/* ================================================================ */

svg#stadium text {
  fill: white;
  font-size: 200%;
  font-weight: 600;
}

text.cnt-label {
  paint-order: stroke;
  stroke: rgb(30,30,30);
  stroke-width: 8px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

/* legend */
svg#stadium g#legend text {
  alignment-baseline: middle;
  color: purple;
}

/* ================================================================ */
/*                           INFO BUTTONS                           */
/* ================================================================ */

i.info-button {
  align-self: flex-end;
  background-color: #1b1bdc;
  border-radius: 50%;
  border: .19vh solid white;
  color: white;
  cursor: help;
  font-family: monospace;
  font-size: 1.58vh;
  font-weight: bold;
  height: 1.9vh;
  line-height: 2vh;
  margin: .56vh;
  position: absolute;
  text-align: center;
  width: 1.9vh;
  z-index: 10;
}

#pc-left-top i.info-button {
  align-self: flex-start;
}

/* ================================================================ */
/*                         PLAYER BAR CHART                         */
/* ================================================================ */
/* submission form */
form#player-barchart-form {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.85vh;
  max-width: 100%;
  padding: 1.3vh;
}

form#player-barchart-form > *:not(.ascdesc) {
  align-items: center;
  display: flex;
  height: 2.5vh;
  width: 50%;
}

form#player-barchart-form > p {
  font-weight: 500;
  margin: 0;
}

/* designing the radio buttons */
form#player-barchart-form > *:not(.ascdesc) input[type=radio] {
  align-items: center;
  appearance: none;
  background-color: white;
  border-radius: 10vh;
  border: .19vh solid grey;
  display: flex;
  height: 1.48vh;
  justify-content: center;
  margin: .28vh .56vh 0 0;
  min-width: 1.48vh;
  position: relative;
}

form#player-barchart-form > *:not(.ascdesc) input[type=radio]:before {
  background-color: black;
  border-radius: 10vh;
  content: "";
  height: 0;
  margin: .19vh;
  position: absolute;
  transition: height .2s, width .2s;
  width: 0;
}

form#player-barchart-form > *:not(.ascdesc) input[type=radio]:checked:before {
  height: .74vh;
  width: .74vh;
}

/* designing the checkbox */
form#player-barchart-form > div.ascdesc {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

form#player-barchart-form > div.ascdesc input[type=checkbox] {
  appearance: none;
  background-color: white;
  border-radius: 10vh;
  border: .19vh solid grey;
  height: 1.67vh;
  margin: .28vh .74vh 0 .74vh;
  position: relative;
  width: 2.78vh;
}

form#player-barchart-form > div.ascdesc input[type=checkbox]:before {
  background-color: black;
  border-radius: 10vh;
  content: "";
  height: .93vh;
  left: 0;
  margin: .19vh;
  position: absolute;
  transition: left .2s;
  width: .93vh;
}

form#player-barchart-form > div.ascdesc input[type=checkbox]:checked:before { left: 1.11vh; }

/* div cointining the actual SVG chart */
#bar-chart-div {
  align-self: flex-end;
  height: calc(100% - 14.44vh);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* ================================================================ */
/*                         PLAYER BAR CHART                         */
/* ================================================================ */
.player-bar-rect-nt,
.player-bar-rect-club,
.player-bar-rect-avg,
.player-bar-text,
.player-circle {
  cursor: pointer;
}

.player-bar-rect-nt[data-playeractive=true],
.player-bar-rect-club[data-playeractive=true],
.player-bar-rect-avg[data-playeractive=true],
.player-bar-text[data-playeractive=true],
.player-circle[data-playeractive=true] {
  cursor: default;
}